/*******************general**************/
* {
    margin: 0;
    padding: 0;
}
ul{

	list-style-type: none;
}
/*a{
	enlevé les a par defaut
}*/
/*******************header**************/
header{

	background-image: url("../images/payments-banner-graphic.png"); 
	height:600px;
	background-size: cover;

}


#logoModif
{
	width:30px;
	height:40px;
}

.logo{
	display: inline-block;
	
}

#login{
	float: right;

}

.login{
	color:white;
	display: inline-block;
	
}

header h1{

	text-align: center;
	margin-top: 10%;
	font-size: 28px;
	color:white;
}
header p{

	text-align: center;
	margin-top: 2%;
	font-size: 18px;
	color:white;
}
header a{
	display: block;
	text-align: center;
	margin-top: 2%;
	font-size: 18px;
	color:rgba(0,0,0,0.8);
}
#freecount{
	display: inline-block;
	background-color: white;
	border: 1px solid black;
	border-radius: 6px;
	width:200px;
	height:60px;
}

/*******************1er block **************/

#premierblock{
	height:310px;
	text-align: center;
}


.block1{
	
	display: inline-block;
	padding: 4%;
	
}

/*******************2eme block **************/

#deusblock{
	background-color: #f6f9fb;
	height:315px;
}

#deusblock p,#deusblock h2{

	text-align: center;
	padding: 2%;
}

/*******************3eme block **************/

#troiblock{
	background-color: #4c535c;
	height:90px;
	text-align: center;
}

#troiblock p{
	padding: 2%;
}

/*******************4eme 5eme et 6emblock **************/
#qublock,#sisblock,#cqblock{
	
	height:500px;
	color:#545A63;

}
.image,.text{
	width:50%;
	height:500px;
	float:left;
}
.image{
	overflow:hidden;
	background-color:#7CD5EF; 
}
.image img {
	width:80%;
	margin:0 auto;
	display:block;
	position:relative;
	top:50px;
	border-radius:5px;
}

/*******************7eme block **************/

#spblock{
	text-align: center;
	height:150px;
	padding: 80px 0;

}

/*******************footer **************/
footer{
	background-color: #242629;
	height: 390px;
	padding:60px;
	text-align: center;

}

footer section {
	display: inline-block;
	padding: 3%;
	height:auto;
	margin-left: 20px;
	width:25%;
	margin: auto;

}